<!-- Footer-->
<footer class="bg-black text-center py-5">
  <div class="container px-5">
      <div class="text-white-50 small">
          <div class="mb-2">&copy;七七会员 2021 - <span id="current-year"></span> 版权所有</div>
          <script>
            document.getElementById('current-year').innerHTML = new Date().getFullYear();
          </script>
          <a href="#!">Privacy</a>
          <span class="mx-1">&middot;</span>
          <a href="#!">Terms</a>
          <span class="mx-1">&middot;</span>
          <a href="#!">FAQ</a>
      </div>
  </div>
</footer>